@model UserManagement.Web.Models.Users.LogItemViewModel

<h2>Log Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Log ID</th>
            <th>User ID</th>
            <th>Action</th>
            <th>Timestamp</th>
            <th>Source</th>
            <th>Payload</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.UserId</td>
            <td>@Model.Action</td>
            <td>@Model.Timestamp</td>
            <td>@Model.Source</td>
            <td>@Model.Payload</td>
        </tr>
    </tbody>
</table>

<a asp-controller="Logs" asp-action="List" class="btn btn-primary">Back to List</a>
